.markdown {
  @apply p-8 flex-1;
  a:has(> .icon-link) {
    text-decoration: none;
  }

  .icon-link {
    margin-right: 5px;
    opacity: 0.6;

    &::before {
      content: "#";
    }
  }

  .markdown-table {
    min-width: 500px;

    code {
      color: inherit;
    }

    td:first-child {
      width: 150px;
      font-weight: 600;
    }
    td:nth-child(2) {
      width: 200px;
    }

    td:nth-child(3) {
      width: 250px;
      @apply text-primary;
    }
    td:nth-child(4) {
      width: 100px;
    }
  }
}

.toc-wrapper {
  @apply flex-shrink-0 hidden lg:block w-48 relative mr-4;
}

.toc {
  .toc-item {
    @apply border-l-2 py-0.5 pl-4;
    &.toc-item-sub {
      @apply pl-8;
    }
    &.active {
      @apply border-primary;
    }
    a {
      @apply opacity-75 transition-opacity block overflow-hidden text-nowrap text-ellipsis;
      &:hover {
        @apply opacity-100 text-wrap underline;
      }
    }
  }
}
